@let XL = responsive.isXl();
@let LG = responsive.isLg();

@if (isLoadingLanguageData()) {
  <div [class]="'loading-data'">
    <app-spin-loader [height]="'130px'" [width]="'130px'" [borderWidth]="'8px'"></app-spin-loader>

  </div>

}

<section [class]="'options'">
  <div [class]="'options__box-selections'">
    @for (box of boxSelection; track $index) {
      <div [class]="'options__box-wrapper'" [attr.box-name]="box.name">
        <p [class]="'options__box-name'">{{ box.name }}</p>
        <div [class]="'options__box-input options__box-selection'" [class.open-menu]="box.isOpen" (click)="void selectBox($index)">
          <span>{{ box.label() }}</span>

          <div
            [class.rotate-up]="box.interacted && box.isOpen"
            [class.rotate-down]="box.interacted && !box.isOpen"

          >
            <fa-icon [icon]="faCaretDown"></fa-icon>

          </div>

        </div>

        <div>
          @if (box.isOpen) {
            <ul [class]="'options-list'">
              @for (el of box.list(); track $index) {
                <li
                  [class.option-selected]="
                    el.includes(languageSelected()!) ||
                    el.includes(runtimeSelected()!) ||
                    el.includes(themeSelected()!)

                  "
                  (click)="box.isOpen = !box.isOpen; void selectOption(box.name, el)"

                >
                  {{ el }}

                </li>

              }

            </ul>

          }

        </div>

      </div>

    }

    <div [class]="'options__box-wrapper'">
      <p [class]="'options__box-name'">fonte</p>
      <div [class]="'options__box-input options__box-font-selector'">
        <input
          type="range"
          name="range"
          id="range"
          min="10"
          max="26"
          [ngModel]="fontSize()"
          (ngModelChange)="fontSize.set($event)"

        >
        <p [class]="'options__box-font'">
          {{ fontSize() }}px

        </p>

      </div>

    </div>

  </div>

  <button
    [class]="'options__btn-run'"
    [style]="{
      'width': !(XL || LG) ? '100%' : 'auto'

    }"

  >
    <fa-icon [icon]="faCaretRight"></fa-icon>
    <span>Executar Código</span>

  </button>

</section>

<section
  [class]="'code-editor'"
  [style]="{
    'flex-direction': (XL || LG) ? 'row' : 'column'

  }"

  >
  <nu-monaco-editor
    [class]="'code-editor__editor'"
    [class.code-editor__full-width]="!(XL || LG)"
    [options]="configs()!"
    [autoFormat]="true"
    [ngModel]="code()"
    (ngModelChange)="code.set($event)"

  ></nu-monaco-editor>
  <div
    [class]="'code-editor__output code-editor--output-style'"
    [class.code-editor__full-width]="!(XL || LG)"

  >
    <div [class]="'code-editor__output-header'">
      <h5>Console / Saída</h5>

      <div [class]="'code-editor__info' + ((isLoadingCodeExecution()) ? ' code-editor__info--loader' : '')">
        @if (isLoadingCodeExecution()) {
          <p [class]="'code-editor__running'">Running</p>
          <app-spin-loader [height]="'18px'" [width]="'18px'"></app-spin-loader>

        }

        @else {
          <p>1.5ms <fa-icon [icon]="faCircleCheck" [style]="'color: #65e6bfff'"></fa-icon></p>

        }

      </div>

    </div>


    <div [class]="'code-editor__output-msg'">
      <p>{{ output() }}</p>

    </div>

  </div>

</section>
