@keyframes spin {
  to {
    transform: rotate(360deg);

  }

}

:host {
  display: block;
  border-color: #2b80ff91;
  border-top-color: #51a2ff;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1s linear infinite;

}
